.item-body {
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
    color: #131212
}

.phone-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
    /*aspect-ratio: 4/3;*/
}

.img-default {
    object-fit: cover;
}

.item-body_text {
    padding: 1rem 2rem;
}

.item-body_text > h2, h3, p {
    padding: 0;
}
